@model MVCOnlineTicariOtomasyon.Models.Siniflar.FaturaKalem
@{
    ViewBag.Title = "FaturaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">

    <div class="d-flex row p-5">

        <div class="px-5  col-5">

            <label class="h5">Birim Fiyat</label>
            @Html.TextBoxFor(k => k.BirimFiyat, new { @class = "form-control mb-5" })
        </div>
        <div class="px-5  col-5">

            <label class="h5">Miktar</label>
            @Html.TextBoxFor(x => x.Miktar, new { @class = "form-control mb-5" })
        </div>
        <div class="px-5  col-5">

            <label class="h5">Tutar</label>
            @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control mb-5" })
        </div>
        <div class="px-5  col-5">

            <label class="h5">Aciklama</label>
            @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control mb-5" })
        </div>
        @*<div class="px-5  col-5">

            <label class="h5">Fatura Id</label>
            @Html.TextBoxFor(x => x.Faturaid, new { @class = "form-control mb-5" })
        </div>*@
    </div>

    <div class="ml-5 px-5">

        <button type="submit" class="btn btn-danger right" style="width:10%">Detay Ekle</button>
    </div>
    @Html.HiddenFor(x => x.FaturaKalemId)

</form>
